/* ============================================== */
/* PRELOADER */
/* ============================================== */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:var(--blue);
    z-index: 9999999999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
  
.logo-icon{
    width: 100px;
    height: 100px;
    margin:-50px 0 0 -50px;
    top: 48%;
    left: 50%;
    position: absolute;
    background: url("./../images/logo/logo_icon.svg") no-repeat 50% 50%/cover;
}

/* ============================================== */
/* COPYTRIGHT */
/* ============================================== */

.copyright{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.copyright .disruptive{
    display: inline-block;
    width: 20px;
    margin-left: 5px;
}
.crafted-by{
    display: flex;
}
.screen-hide{
    position: absolute;
    bottom: 0;
    left: -5000px;
    z-index: -99;
}

/* ============================================== */
/* PAGE-CONTENT */
/* ============================================== */

#page-content{
    min-height: 80vh;
}

/* ============================================== */
/* RESPONSIVE IMAGES */
/* ============================================== */

.img-wrap img{
    max-width: 100%;
    height: auto;
}

/* ============================================== */
/* WIDTHS */
/* ============================================== */

.col-s5{  width: 5%;  }
.col-s10{  width: 10%;  }
.col-s15{  width: 15%;  }
.col-s20{  width: 20%;  }
.col-s25{  width: 25%;  }
.col-s30{  width: 30%;  }
.col-s35{  width: 35%;  }
.col-s40{  width: 40%;  }
.col-s45{  width: 45%;  }
.col-s50{  width: 50%;  }
.col-s55{  width: 55%;  }
.col-s60{  width: 60%;  }
.col-s65{  width: 65%;  }
.col-s70{  width: 70%;  }
.col-s75{  width: 75%;  }
.col-s80{  width: 80%;  }
.col-s85{  width: 85%;  }
.col-s90{  width: 90%;  }
.col-s95{  width: 95%;  }
.col-s100{  width: 100%;  }

@media only screen and (max-width: 1024px){
    .col-s5-m{  width: 5%;  }
    .col-s10-m{  width: 10%;  }
    .col-s15-m{  width: 15%;  }
    .col-s20-m{  width: 20%;  }
    .col-s25-m{  width: 25%;  }
    .col-s30-m{  width: 30%;  }
    .col-s35-m{  width: 35%;  }
    .col-s40-m{  width: 40%;  }
    .col-s45-m{  width: 45%;  }
    .col-s50-m{  width: 50%;  }
    .col-s55-m{  width: 55%;  }
    .col-s60-m{  width: 60%;  }
    .col-s65-m{  width: 65%;  }
    .col-s70-m{  width: 70%;  }
    .col-s75-m{  width: 75%;  }
    .col-s80-m{  width: 80%;  }
    .col-s85-m{  width: 85%;  }
    .col-s90-m{  width: 90%;  }
    .col-s95-m{  width: 95%;  }
    .col-s100-m{  width: 100%;  }
}
@media only screen and (max-width: 768px){
    .col-s50-s{  width: 50%  }
    .col-s80-s{  width: 80%  }
    .col-s100-s{  width: 100%  }
}

/* ============================================== */
/* FLEX */
/* ============================================== */

.d-flex{  display: flex;  }
.wrap{  flex-wrap: wrap;  }
.dir-column{  flex-direction: column;  }

.ai-center{  align-items: center;  }
.ai-end{  align-items: flex-end;  }

.jc-center{  justify-content: center;  }
.jc-between{  justify-content: space-between;  }
.jc-evenly{  justify-content: space-evenly;  }
.jc-end{  justify-content: flex-end;  }

/* ============================================== */
/* GRID */
/* ============================================== */

.d-grid{
    --grid-gap: 20px;
    display: grid;
    gap: var(--grid-gap);
}

.col-1 {  grid-template-columns: repeat(1,1fr);  }
.col-2 {  grid-template-columns: repeat(2,1fr);  }
.col-3 {  grid-template-columns: repeat(3,1fr);  }
.col-4 {  grid-template-columns: repeat(4,1fr);  }
.col-5 {  grid-template-columns: repeat(5,1fr);  }
.col-6 {  grid-template-columns: repeat(6,1fr);  }
.col-7 {  grid-template-columns: repeat(7,1fr);  }
.col-8 {  grid-template-columns: repeat(8,1fr);  }
.col-9 {  grid-template-columns: repeat(9,1fr);  }
.col-10 {  grid-template-columns: repeat(10,1fr);  }
.col-11 {  grid-template-columns: repeat(11,1fr);  }
.col-12 {  grid-template-columns: repeat(12,1fr);  }

.span-1 {  grid-column: span 1;  }
.span-2 {  grid-column: span 2;  }
.span-3 {  grid-column: span 3;  }
.span-4 {  grid-column: span 4;  }
.span-5 {  grid-column: span 5;  }
.span-6 {  grid-column: span 6;  }
.span-7 {  grid-column: span 7;  }
.span-8 {  grid-column: span 8;  }
.span-9 {  grid-column: span 9;  }
.span-10 {  grid-column: span 10;  }
.span-11 {  grid-column: span 11;  }
.span-12 {  grid-column: span 12;  }

/* ============================================== */
/* CONTENT WIDTH */
/* ============================================== */

.content-wrap, .content-wrap-s{
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--content-pd);
    padding-left: var(--content-pd);
}
.content-wrap{  max-width: var(--content-w);  }
.content-wrap-s{  max-width: var(--content-w-s);  }

/* ============================================== */
/* TITLES */
/* ============================================== */

.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: var(--f-family-h);
}
.h1{  font-size: var(--fs-title-l);  }
.h2{  font-size: var(--fs-title);  }
.h3{  font-size: var(--fs-title-s);  }

/* ============================================== */
/* TEXT */
/* ============================================== */

body{
    font-family: var(--f-family);
    font-size: var(--fs-base);
    line-height: var(--line-h);
}
p:not(:last-child){  margin-bottom: var(--p-margin);  }
.fs-m{  font-size: var(--fs-medium);  }
.fs-l{  font-size: var(--fs-large);  }
.bold{  font-weight: 700;  }
.light{  font-weight: 300;  }