/*========================*/
/*BG AND COLORS*/
/*========================*/
body {
  background-color: var(--light-gray);
}

.bg-blue {
  background: linear-gradient(to bottom, var(--blue-bg), var(--blue-bg) 70%, var(--blue-violet-bg));
}

.color-title {
  color: var(--title-blue);
}

.color-text {
  color: var(--text-blue);
}

/*========================*/
/*ANCHORS*/
/*========================*/

html {
  scroll-behavior: smooth;
}

.anchor:not(#hero) {
  transform: translateY(calc(var(--header-h) * -1 + 2px));
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #plans {
    scroll-margin: calc(var(--banner-h) / 2 * -1);
  }
}
/*========================*/
/*BUTTONS*/
/*========================*/
.button-line, .button {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  transition: color 0.2s ease-out, border-color 0.2s ease-out, background-color 0.2s ease-out;
}

.button {
  border: 1px solid var(--blue);
  background-color: var(--blue);
}
.button:hover {
  border-color: var(--blue-dark);
  background-color: var(--blue-dark);
}
.button-line {
  border: 1px solid #fff;
  background-color: transparent;
}
.button-line:hover {
  border-color: var(--blue);
  background-color: var(--blue);
}

.button.cta{
  background-color: #e6ba41;
  border: 1px solid #e6ba41;
}

.button.cta:hover{
  background-color: #d6a41a;
}

/*========================*/
/*SHADOW*/
/*========================*/
.box-shadow {
  box-shadow: 0px 4px 22px rgba(116, 155, 191, 0.25);
}

/*========================*/
/*ARROW-ICON*/
/*========================*/
.arrow-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--blue-dark);
}

/*========================*/
/*FOOTER*/
/*========================*/
.footer {
  position: relative;
  background: linear-gradient(to top, var(--violet-bg), var(--blue-violet-bg));
  padding: 30px 0 80px;
}
.footer::after {
  content: "";
  display: block;
  width: min(100%, 1920px);
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.6) 10%, transparent 60%);
  mix-blend-mode: overlay;
  pointer-events: none;
}
.footer .content-wrap p {
  text-align: center;
  font-weight: 300;
  color: #fff;
}
.footer .content-wrap p .bold {
  display: block;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 10px 0 50px;
  }
}
@media only screen and (max-width: 460px) {
  .footer {
    padding: 10px 0 30px;
  }

  .footer .h2 {
    font-size: 1.6rem;
  }
}
/*========================*/
/*HERO*/
/*========================*/
.hero {
  position: relative;
  background: no-repeat center/cover url(./../images/body/hero_bg.webp);
  color: #fff;
}
.hero:not(.video-wrapper){
  height: 100vh;
  display: flex;
  align-items: center;
}
.hero .content-wrap {
  position: relative;
  height: 100%;
  z-index: 2;
}
.hero-content {
  position: relative;
}
.hero-svg {
  position: absolute;
  top: -88px;
  left: 490px;
}
.hero-text {
  line-height: 1.4;
  margin-top: 20px;
}
.hero .arrow-icon {
  --size: 50px;
  padding: 14px 10px 10px;
  margin-top: 15px;
}

html[lang=en] .hero-svg {
  left: 378px;
}

#empty_square {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .hero .h1 {
    font-size: 3.95rem;
  }

  .hero-text {
    font-size: 1.5rem;
  }

  .hero-svg {
    width: 120px;
    left: 496px;
    top: -78px;
  }

  html[lang=en] .hero-svg {
    left: 386px;
  }

  #empty_square {
    stroke-width: 6px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero .col-s50 {
    margin: 0 auto;
  }

  .hero.hero:not(.video-wrapper){
    height: auto;
  }

  .hero .content-wrap{
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .hero-svg {
    width: 100px;
    top: -80px;
    left: 338px;
  }

  html[lang=en] .hero-svg {
    top: -86px;
    left: 259px;
  }

  #empty_square {
    stroke-width: 8px;
  }
}
@media only screen and (max-width: 460px) {
  .hero .col-s80-s {
    width: 100%;
  }

  .hero .h1 {
    font-size: 1.95rem;
  }

  .hero-text {
    font-size: 1.25rem;
  }

  .hero-svg {
    width: 80px;
    top: -85px;
    left: 230px;
  }

  html[lang=en] .hero-svg {
    left: 180px;
  }
}
/*========================*/
/*CARD-ICON*/
/*========================*/
.card-icon {
  --icon-w: 68px;
  --pd-vertical: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: var(--pd-vertical) 25px;
  transform: translateY(-50%);
  z-index: 4;
}
.card-icon-img {
  width: var(--icon-w);
  margin: calc((var(--pd-vertical) + var(--icon-w) / 2) * -1) auto calc(var(--pd-vertical) / 2);
}
.card-icon-text {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #cards-icon .jc-between {
    justify-content: center;
  }

  .card-icon:not(:last-child) {
    margin-bottom: 60px;
  }

  .card-icon:first-child {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 768px) {
  .card-icon:first-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 460px) {
  .card-icon.col-s80-s {
    width: 90%;
  }
}
/*========================*/
/*BONDS*/
/*========================*/
.bonds {
  background: no-repeat center bottom/contain url(./../images/body/bonus_bg.svg);
}

.bonds-type {
  margin: 0 auto;
  padding: 100px 0;
}
.bonds-type--card {
  --image-w: 85px;
  --pd-vertical: 15px;
  --card-margin: 25px;
  padding: var(--pd-vertical) 25px;
  background-color: #fff;
  border-radius: 5px;
}
.bonds-type--card:not(:last-child) {
  margin-bottom: calc(var(--image-w) / 3 + var(--card-margin));
}
.bonds-type--card-img {
  width: var(--image-w);
  margin-right: 20px;
  margin-top: calc((var(--image-w) / 3 + var(--pd-vertical)) * -1);
}

.bonds-content-text {
  margin-top: 20px;
  line-height: 1.4;
}

@media only screen and (max-width: 768px) {
  .bonds-type {
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .bonds-content {
    order: -1;
    margin-bottom: 60px;
  }
  .bonds-content .button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 201px;
  }
}
@media only screen and (max-width: 460px) {
  .bonds-type.col-s90 {
    width: 100%;
  }
}
/*========================*/
/*LEVELS*/
/*========================*/
.levels {
  --gap: 10px;
  --cols: 5;
  padding-bottom: 160px;
}

p.levels-subtitle {
  margin-bottom: 2px;
}

.levels-title {
  margin-bottom: 30px;
}

.levels-card {
  width: calc((100% - var(--gap) * (var(--cols) - 1)) / var(--cols));
  padding: 15px 17px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: calc(var(--gap) * 1.3);
}
.levels-card:not(:last-child):not(:nth-child(5n+5)) {
  margin-right: var(--gap);
}

.levels-pecentage {
  color: #7E7E7E;
}

@media only screen and (max-width: 1024px) {
  .levels {
    --cols: 3;
  }

  .levels-card:not(:last-child):not(:nth-child(5n+5)) {
    margin-right: 0;
  }

  .levels-card:not(:last-child):not(:nth-child(3n+3)) {
    margin-right: var(--gap);
  }
}
@media only screen and (max-width: 768px) {
  .levels {
    --cols: 2;
    padding-bottom: 80px;
  }

  .levels-card:not(:last-child):not(:nth-child(3n+3)) {
    margin-right: 0;
  }

  .levels-card:not(:last-child):not(:nth-child(2n+2)) {
    margin-right: var(--gap);
  }
}
/*========================*/
/* PLANS */
/*========================*/
.plans {
  --banner-h: 450px;
  position: relative;
}

.plans-img-bg {
  height: var(--banner-h);
  background: no-repeat center/cover url(./../images/body/buildings.jpg);
}

.plans-bubble {
  --size: 50px;
  position: relative;
  max-width: 680px;
  padding: 50px;
  margin: -100px auto calc(var(--size) * 0.5);
  border-radius: 5px;
  background-color: var(--blue-dark);
  color: #fff;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.plans-bubble-title, .plans-bubble-text {
  text-align: center;
}
.plans-bubble-title {
  margin-bottom: 20px;
  padding: 0 17%;
}
.plans-bubble::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: calc(var(--size) * -0.25 + 1px);
  border-top: calc(var(--size) * 0.5) solid var(--blue-dark);
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  transform: translate(-50%, 50%);
}

.glow {
  display: block;
  width: 100%;
  max-width: 680px;
  height: 360px;
  position: absolute;
  left: 50%;
  top: var(--banner-h);
  transform: translateX(-50%);
  background: radial-gradient(ellipse at center, rgba(0, 245, 255, 0.7) 10%, transparent 70%);
  mix-blend-mode: overlay;
}

@media only screen and (max-width: 1024px) {
  .plans {
    --banner-h: 280px;
  }
}
@media only screen and (max-width: 768px) {
  .plans-bubble {
    max-width: calc(100% - var(--content-pd) * 2);
    padding: 30px 20px;
  }
  .plans-bubble-title {
    padding: 0 10%;
  }
}
@media only screen and (max-width: 460px) {
  .plans {
    --banner-h: 210px;
  }
}
/*========================*/
/* PLANS-CARDS */
/*========================*/
.plans-grid {
  padding-top: 60px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
}

.plans-card {
  --grid-gap: 0;
  --img-w: 56px;
  --yellow-w: 13px;
  --gap: 15px;
  --cols: 4;
  grid-template-columns: var(--yellow-w) var(--img-w) 1fr;
  width: calc((100% - var(--gap) * (var(--cols) - 1)) / var(--cols) - (var(--img-w) / 2 - var(--yellow-w) / 2));
  min-height: 90px;
  margin-left: calc(var(--img-w) / 2 - var(--yellow-w) / 2);
  margin-bottom: calc(var(--gap) * 2);
  border-radius: 5px;
  background-color: #fff;
  color: var(--blue-dark);
}
.plans-card:not(:last-child):not(:nth-child(4n+4)) {
  margin-right: var(--gap);
}
.plans-card--yellow {
  height: 100%;
  background-color: var(--yellow);
  border-radius: 5px 0 0 5px;
}
.plans-card--img {
  width: calc(var(--img-w) + var(--yellow-w) / 2);
  margin-left: calc(var(--img-w) / 2 * -1 - var(--yellow-w) / 1.5);
}
.plans-card--content {
  padding: 10px 0;
}

p.plans-card--text {
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .plans-card {
    --cols: 3;
  }

  .plans-card:not(:last-child):not(:nth-child(4n+4)) {
    margin-right: 0;
  }

  .plans-card:not(:last-child):not(:nth-child(3n+3)) {
    margin-right: var(--gap);
  }
}
@media only screen and (max-width: 768px) {
  .plans-grid {
    padding-bottom: 40px;
  }

  .plans-card {
    --cols: 2;
  }

  .plans-card:not(:last-child):not(:nth-child(3n+3)) {
    margin-right: 0;
  }

  .plans-card:not(:last-child):not(:nth-child(2n+2)) {
    margin-right: var(--gap);
  }
}
@media only screen and (max-width: 460px) {
  .plans-grid {
    padding-bottom: 40px;
  }

  .plans-card {
    --cols: 1;
  }

  .plans-card:not(:last-child):not(:nth-child(2n+2)), .plans-card {
    margin-right: 0;
  }

  .plans-card--price .amount.fs-l {
    font-size: var(--fs-title);
  }
}
/*========================*/
/* WALLET */
/*========================*/
.plans-text {
  padding-right: 20%;
  color: #fff;
  padding-bottom: 100px;
}
.plans-text .yellow {
  color: var(--yellow);
}

.wallet {
  color: #fff;
}
.wallet .arrow-icon {
  --size: 30px;
  padding: 6px 7px 5px 5px;
  margin-right: 10px;
}
.wallet-subtitle {
  display: inline-block;
}
.wallet-btn.button {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: #946A00;
}
.wallet-btn.button:hover {
  background-color: #f5d107;
  border-color: #f5d107;
}

p.wallet-text {
  margin: 10px 0 30px;
  line-height: 1.4;
}

.wallet-lines {
  height: 390px;
  margin-top: -140px;
  background: repeat-x center bottom/contain url(./../images/body/footer_lines_loop.svg);
  pointer-events: none;
}

@media only screen and (max-width: 1024px) {
  .wallet-lines {
    height: 200px;
    margin-top: -80px;
  }
}
@media only screen and (max-width: 768px) {
  .plans-text {
    padding: 0 10% 60px;
  }

  .wallet .arrow-icon {
    transform: rotate(90deg);
  }

  .wallet .arrow-icon {
    transform: rotate(90deg);
  }

  .wallet-btn.button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 203px;
  }

  .wallet-lines {
    height: 150px;
    margin-top: -50px;
  }
}
@media only screen and (max-width: 460px) {
  .plans-text {
    padding: 0 0 60px;
  }
}

/* ============================================== */
/* VIDEO */
/* ============================================== */

.video-wrapper{
  text-align: center;
  width: 100%;
}

video.video-hero{
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0;
  border:none;
}

@media only screen and (min-width: 1081px){
  .hero > iframe{
    max-width: 80%;
    margin: 0 auto;
  }
}

/* ============================================== */
/* VIDEO LOCAL */
/* ============================================== */

.video-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

video{
  max-width: 768px;
  width: 100%;
  left: 50%;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  border: 2px solid white;
  background: white;
  border-radius: 5px;

  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.video{
  margin:0 1%;
  padding: 0 !important;
  display: block;
  width: 48%;
  background: white;
  position: relative;
  overflow: hidden;
  clear: both;
  border:1px solid white;
  border-radius: 10px;

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  -webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 20px 20px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 20px 20px rgba(0,0,0,0.1);
  box-shadow: 0 20px 20px rgba(0,0,0,0.1);
}

.video .video-local a{
  width: 100%;
  overflow: hidden;
}

.video,
.video .video-local a{
  height: 400px;
}


.video .video-local a img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.view{
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.view .bg-overlay.soft{
  opacity: 0.7;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.view:hover .bg-overlay.soft{opacity: 1;z-index: 99;}

.video .view:after{
  position: absolute;
  content: url("./../images/icons/icon_play.svg");
  width: 50px;
  height: 50px;
  left:50%;
  top:50%;
  margin:-25px 0 0 -25px;
  display: block;
  opacity: 1;
  z-index: 999;
  padding: 10px;
  background: var(--blue);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.video .view:hover:after{
  margin:-30px 0 0 -30px;
  width: 60px;
  height: 60px;
}

.popup-video{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition:all 125ms ease-in;
  -moz-transition:all 125ms ease-in;
  -ms-transition:all 125ms ease-in;
  transition:all 125ms ease-in;

  -webkit-animation: fadeVideo 0.2s both 0s;
  -moz-animation: fadeVideo 0.2s both 0s;
  -ms-animation: fadeVideo 0.2s both 0s;
  -o-animation: fadeVideo 0.2s both 0s;
  animation: fadeVideo 0.2s both 0s;
}

@keyframes fadeVideo {
    from { opacity: 0;}
    to   { opacity: 1;}
}

@-moz-keyframes fadeVideo {
    from { opacity: 0;}
    to   { opacity: 1;}
}

@-webkit-keyframes fadeVideo {
    from { opacity: 0;}
    to   { opacity: 1;}
}

@-ms-keyframes fadeVideo {
    from { opacity: 0;}
    to   { opacity: 1;}
}

@-o-keyframes fadeVideo {
    from { opacity: 0;}
    to   { opacity: 1;}
}

@media screen and (max-width: 768px){
  .video{
    margin:5px auto;
    width: 100%;
  }

  .video,
  .video .video-local a{
    height: auto;
  }

}

/* ============================================== */
/* BG-OVERLAY */
/* ============================================== */

.bg-overlay{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  z-index:2;
}

.bg-overlay.hard{background-color: rgba(0, 0, 0, 0.9);}
.bg-overlay.soft{background-color: rgba(0, 0, 0, 0.5);}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 1;
}

/* ============================================== */
/* LINKS */
/* ============================================== */

.links{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.links a{
  color:white;
  margin: 5px 10px;
}

.links a:hover{
  text-decoration: underline;
}

/* ============================================== */
/* BLOCKS-CONTENT */
/* ============================================== */

.block-content{
  display: block;
  max-width:var(--content-d);
  padding:80px 30px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1440px){
  .block-content{
    padding:60px 30px;
    max-width:var(--content-l);
  }
}

@media screen and (max-width: 768px){
  .block-content{padding:20px 30px;}
}

/*# sourceMappingURL=style.css.map */

/* ============================================== */
/* POPUP */
/* ============================================== */

.rel{  position: relative;  }
.abs{  position: absolute;  }
.of-hidden{  overflow: hidden;  }

#popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  left: 0;
  z-index: 9000000000;
  opacity: 0;
  animation: popup 0.2s 2s linear forwards;
}
#popup.close{  display: none;  }
.popup-content{
  width: min(80%, 600px);
}
.popup-img{
  border-radius: 10px;
  width: 100%;
}
#popup-close{
  --size: 30px;
  background-color: #fff;
  color: var(--title-blue);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  top: 8px;
  right: 8px;
  transition-property: background-color, color;
  transition: 0.1s linear;
}
#popup-close:hover{
  background-color: var(--title-blue);
  color: #fff;
}

@keyframes popup {
  to{opacity: 1;}
}

@media only screen and (max-width: 1440px) {.popup-content{width:min(80%,400px)}}

@media only screen and (max-width: 1080px) and (orientation:landscape){
  #popup{
    overflow-y: scroll;
  }
}

/* ============================================== */
/* TESTIMONIALS BANNER */
/* ============================================== */

.slick-track{
  display: flex;
}

.slick-slider, .slick-list{
  position: relative;
}
.slick-list{
  z-index: 0;
}
.slick-prev, .slick-next{
  --w: 40px;
  width: var(--w);
  height: var(--w);
  border-radius: var(--w);
  background-color: var(--blue-dark);
  opacity: 0.5;
  position: absolute;
  top: calc(50% - var(--w)*0.5);
  transition: opacity 0.2s ease;
  z-index: 2;
  
  color: white;
  font-size: 20px;
}
.slick-prev:hover, .slick-next:hover{
  opacity: 1;
}
.slick-prev{
  left: 0;
}
.slick-next{
  right: 0;
}
.slick-prev::before, .slick-next::before{
  content: url(../images/icons/arrow_left.svg);
  width: calc(var(--w)*0.8)
}
.slick-next::before{
  transform: rotate(180deg);
}